extends layout

block content
  a.goback(href="/")
  img.header(src='/img/agenda/header.png')
  img.full(src='/img/agenda/body1.png')
  img.full(src='/img/agenda/body2.png')
  img.full(src='/img/agenda/body3.png')
