extends layout

block content
  a.goback(href="/")
  img.header(src='/img/location/header.png')
  div.location
    img.map(src="#{model.image}")
    .marker.bounceInDown
      
  a.navigation(href='#{model.location}') 我要导航
