extends layout

block content
  a.goback(href="/")
  img.header(src='/img/location/header.png')
  a(href='#{model.location}')
    img.full(src="#{model.image}")
  a.navigation(href='#{model.location}') 我要导航
