@primary-button-bgcolor: #6CBAFB;

body {
  line-height: 14px;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  &.home {
    background-image: url('/img/home.jpg');
    background-position: top auto;
    background-size: 100% auto;
    background-repeat: repeat-y;
  }

  &.article {
    background-image: url('/img/background.jpg');
    background-position: top auto;
    background-size: 100% auto;
    background-repeat: repeat-y;
  }
}

img.header {
  display: block;
  width: 80%;
  margin: 8rem auto 1rem auto;
  &.vip {
    margin-top: 5rem;
  }
}

img.full {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.contact {
  margin-top: 8rem;
}

a.navigation {
  width: 90%;
  display: block;
  background: @primary-button-bgcolor;
  margin: 1rem auto 0 auto;
  text-align: center;
  padding: .5rem 0;
  font-size: 1.3rem;
  border-radius: 3px;
}

a {
  color: white;
  text-decoration: none;
}

a.goback {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  width: 77px;
  height: 31px;
  background-image: url('/img/back.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

ul.main.menu {
  display: block;
  margin-top: 2rem;
  padding: 0;

  li {
    text-align: center;
    margin: 1rem auto;
    list-style-type: none;
    text-align: center;
  }

  a {
    display: inline-block;;
    width: 200px;
    background-color: @primary-button-bgcolor;
    border-radius: 3px;
    padding: 4px;
    font-size: 1.2rem;
  }
}

ol.vips, ol.nurses {
  padding: 0;
  li {
    width: 29.5%;
    display: inline-block;
    margin-left: 3%;
  }

  img {
    width: 100%;
  }

  h4 {
    margin-top: 8px;
  }

  a {
    text-align: center;
  }
}
