body {
  line-height: 14px;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-position: top auto;
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding-bottom: 1rem;
}
body.home {
  background-image: url('/img/home.jpg');
}
body.article {
  background-image: url('/img/background.jpg');
}
img.header {
  display: block;
  width: 80%;
  margin: 6rem auto 1rem auto;
}
img.header.vip {
  margin-top: 5rem;
}
img.contact {
  margin-top: 8rem;
}
img.full,
a.navigation,
.location {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.location {
  position: relative;
}
.location .map {
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
a.navigation {
  background: #6CBAFB;
  margin-top: 1rem;
  text-align: center;
  padding: .5rem 0;
  font-size: 1.3rem;
  border-radius: 3px;
}
a.goback {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 77px;
  height: 31px;
  background-image: url('/img/back.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
ul.main.menu {
  display: block;
  margin-top: 2rem;
  padding: 0;
}
ul.main.menu li {
  margin: 1rem auto;
  list-style-type: none;
  text-align: center;
}
ul.main.menu a {
  display: inline-block;
  width: 200px;
  background-color: #6CBAFB;
  border-radius: 3px;
  padding: 4px;
  font-size: 1.2rem;
}
ol.vips,
ol.nurses {
  padding: 0;
}
ol.vips li,
ol.nurses li {
  width: 29.5%;
  display: inline-block;
  margin-left: 3%;
}
ol.vips img,
ol.nurses img {
  width: 100%;
}
ol.vips h4,
ol.nurses h4 {
  margin-top: 8px;
  margin-bottom: .5rem;
}
ol.vips h5,
ol.nurses h5 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: .8rem;
  display: block;
}
ol.vips h5 span,
ol.nurses h5 span {
  padding: 4px 8px;
  background-color: #083B70;
}
ol.vips a,
ol.nurses a {
  text-align: center;
}
.ball {
  position: absolute;
  width: 160px;
  height: 160px;
  background-image: url('/img/ball.png');
  background-size: 100% 100%;
}
.home .ball {
  top: -80px;
  left: calc((100% - 160px)/2);
  transform: translateX(-50%) translateY(-50%);
}
.article .ball {
  top: -80px;
  left: -50px;
}
.rolling {
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
.marker {
  position: absolute;
  top: calc((100% - 88px)*0.44);
  left: calc((100% - 116px)*0.6);
  width: 116px;
  height: 88px;
  background-repeat: no-repeat;
  background-image: url('/img/location/marker.png');
  background-size: 100% 100%;
  background-position: center center;
}
.bounceInDown {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: bounceInDown;
}
