extends ../layout

block content
  a.goback(href="/")
  img.header.vip(src='/img/vips/vip-header.png')
  ol.vips
    for vip, i in model
      li
        a(href="/vips/#{i + 1}")
          img(src="/img/vips/#{vip.img}")
          h4 #{vip.name} 
          h5 
            span 个人资料
